a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    color: #bbb;
}
._2v79o {
    background-color: #232222;
}
._cyf06 {
    height: 52px;
    padding: 0 40px;
}
._5rnaq {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 77px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    max-width: 1010px;
    padding: 26px 40px;
    -webkit-transition: height .2s ease-in-out;
    transition: height .2s ease-in-out;
    width: 100%;
}
._tpnch {
    background-color: #323232;
    border-bottom: 1px solid rgba(0,0,0,.0975);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    -webkit-transition: height .2s ease-in-out;
    transition: height .2s ease-in-out;
    height: 77px;
}
._5rnaq, ._caluf, ._tpnch {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
._2wxtj, ._7g4gl, ._s5vjd {
    margin-bottom: 60px;
}
._nx5in, ._ouv75, ._psd08, ._s5vjd {
    border-radius: 3px;
    border: 1px solid #4a4a4a;
}
._7g4gl, ._nx5in, ._ouv75, ._psd08, ._s5vjd {
    background-color: #282828;
    margin-left: -1px;
    margin-right: -1px;
}
._622au {
    padding: 0;
}
._9dpug {
    border-bottom: 1px solid #656565;
}
._km7ip {
    border-top: 1px solid #8c8b8b;
    color: #999;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    font-size: 14px;
    line-height: 18px;
    min-height: 56px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 16px 0;
}
._f89xq, ._f89xq:active, ._f89xq:focus, ._f89xq:hover, ._f89xq:visited {
    color: #ececec;
    font-weight: 600;
}
._ewiye {
    color: #999;
}
._95hvo, ._95hvo:visited {
    color: #fff;
}
a, a:visited {
    color: #709ed0;
    text-decoration: none;
}
._iadoq, ._iadoq:visited {
    color: #fff;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
}
a._q8ysx, a._q8ysx:visited {
    color: #9a9a9a;
}
._q8ysx {
    color: #999;
    line-height: 15px;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
._gh2cz {
    color: #dedede;
}
._nzn1h, ._nzn1h:visited {
    font-weight: 600;
    color: #bfbfbf;
}
._cyf06 {
    height: 52px;
    padding: 0 40px;
}
._5rnaq, ._caluf {
    height: 52px;
}
._fptk9, ._fptk9:active, ._fptk9:focus, ._fptk9:hover, ._fptk9:visited {
    color: #e4e2e2;
    font-size: 12px;
    line-height: 14px;
}
._72oww {
    color: #999;
    font-size: 14px;
    line-height: 18px;
}
._guwow {
    height: 272px;
    overflow-y: auto;
    overflow-x: hidden;
}
._de460, ._de460:visited, ._nt9ow {
    color: #d6d0d0;
}
._fd86t {
    color: #fff;
    font-weight: 600;
}
._rebbv {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    background-color: #232222;
}
._t78yp {
    background: 0 0;
    border-color: #dbdbdb;
    color: #fff;
}
._jqf0k {
    color: #aaa;
}
._hm7pe ._7hhq6 {
    background-color: #282828;
    border: 1px solid #4a4a4a;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}
._4kplh ._9dpug {
    border-bottom: 1px solid #8c8b8b;
    height: 78px;
    margin-right: 0;
    padding: 20px 0;
    position: absolute;
    right: 24px;
    top: 0;
    width: 287px;
}
._4kplh ._8oo9w {
    border-top: 1px solid #8c8b8b;
    margin: 0;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    padding-top: 2px;
}
._s5vm9 {
    background-color: #323232;
    -webkit-box-ordinal-group: 6;
    -webkit-order: 5;
    -ms-flex-order: 5;
    order: 5;
    padding: 0 20px;
}


._q8pf2 {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #232222;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 40px;
    text-align: center;
}
._q8pf2 {
    border: 1px solid #232222;
    border-radius: 3px;
}
._9viqy, ._kcrwx {
    color: #bbb;
    font-size: 14px;
    line-height: 24px;
}
._nr3h3, ._nr3h3 ._1kjms, ._nr3h3 ._1kjms:visited {
    color: #9a9a9a;
}
._f9sjj {
    background-color: #191919;
    border: 1px solid #646464;
    border-radius: 1px;
    margin: 0 0 10px;
    padding: 10px 0;
}
._pbd5h, ._pbd5h:active, ._pbd5h:hover, ._pbd5h:visited {
    font-size: 12px;
    line-height: 14px;
    margin-top: 12px;
    text-align: center;
    color: #ddd;
}
._g9ean {
    color: #ddd;
    font-size: 14px;
    margin: 15px;
    text-align: center;
}
._kwqlm {
    color: #ddd;
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    margin: 0 40px 12px;
    text-align: center;
}
._52bc8 {
    background-color: #212121;
    text-align: center;
    width: 90%;
}
._hkmnt {
    border: 1px solid #646464;
    color: #3897f0;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 48px;
    margin-top: 16px;
}
._g3lyc {
    border-top: 0;
    color: #ddd;
    font-weight: 400;
    margin-top: 0;
}
._bhfwt {
    color: #ddd;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
}
._h74gn {
    background: #282828;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    line-height: 50px;
    margin: 0;
    overflow: hidden;
    padding: 0 16px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
._hql7s, ._o2wxh {
    background-color: #fff;
    border-bottom: 1px solid #787878;
}
._mahua {
    margin-left: -423px;
    position: absolute;
    top: 15px;
    max-height: 362px;
    min-height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0;
    background: #323232;
    border: solid 1px #646464;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.0975);
    box-shadow: 0 0 5px rgba(0,0,0,.0975);
    display: block;
    white-space: normal;
    width: 500px;
    z-index: 11;
}
._b96u5 {
    color: #ddd;
    display: block;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 0%;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    line-height: 1.3;
    margin: 0 12px;
    min-width: 0;
    word-wrap: break-word;
}
._nodr2, ._nodr2:visited {
    color: #fff;
    font-weight: 600;
}
._leqcz {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background: #323232;
    border: solid 1px #646464;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 0;
    -ms-flex: 1 0 0;
    flex: 1 0 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-right: 28px;
    padding-left: 16px;
    padding-right: 16px;
}
._1kpcq, ._1kpcq:visited {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    margin-bottom: 2px;
}
._j54dd {
    background-color: #323232;
    margin-left: -1px;
    margin-right: -1px;
}
._lyjak, ._p4iax {
    border-radius: 3px;
    border: 1px solid #646464;
}
._6e4x5 {
    border-bottom: solid 1px #646464;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 8px 16px;
}
._ar2c8 {
    background-color: #212121;
    /* border-bottom: 1px solid #e6e6e6; */
    padding: 20px 16px 8px;
}
._o5iw8, ._o5iw8:visited {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
}
._9apn1 {
    border-color: transparent transparent #323232;
    border-style: solid;
    border-width: 0 10px 10px;
    height: 0;
    top: 6px;
    left: 2px;
    width: 0;
    z-index: 12;
}
._fketj {
    background: #323232;
    border: 1px solid #646464;
    box-shadow: 0 0 5px 1px rgba(0,0,0,.0975);
    height: 14px;
    left: 6px;
    top: 8px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 14px;
    z-index: 1;
}
._28rsa {
    background-color: #323232;
    border: 1px solid #646464;
    border-radius: 3px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-pack: stretch;
    -webkit-justify-content: stretch;
    -ms-flex-pack: stretch;
    justify-content: stretch;
    margin: 60px auto 0;
    max-width: 935px;
    overflow: hidden;
    width: 100%;
}
._mleeu {
    border-right: 1px solid #646464;
    -webkit-flex-basis: 236px;
    -ms-flex-preferred-size: 236px;
    flex-basis: 236px;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
._fvhml, ._fvhml:active, ._fvhml:hover, ._fvhml:visited {
    color: #fff;
}
._4abhr, ._jlcqs {
    background: 0 0;
    border: 1px solid #efefef;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 355px;
    -ms-flex: 0 1 355px;
    flex: 0 1 355px;
    font-size: 16px;
    height: 32px;
    padding: 0 10px;
}
._nxkvc {
    background: 0 0 #323232;
    border: 1px solid #efefef;
    border-radius: 3px;
    color: #fff;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 16px;
    height: 32px;
    padding: 0 30px 0 10px;
    -moz-appearance: none;
    -webkit-appearance: none;
}
._ijm8y {
    font-size: 24px;
    color: #fff;
}
._8lez2 {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}
._etlo6:hover {
    background-color: #646464;
    border-left-color: #dbdbdb;
}
._2e96w, ._t7nuu, a._sb9lc, a._sb9lc:visited, a._t7nuu, a._t7nuu:visited {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-top: solid 1px #aaa;
}
._lfwfo {
    background: #323232;
    border-bottom: solid 1px #646464;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 16px;
}
._b9n99 {
    background: #323232;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
._6e4x5 {
    border-bottom: solid 1px #646464;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 8px 16px;
}
._lyjak, ._p4iax {
    border-radius: 3px;
    border: 1px solid #646464;
}
._o5iw8, ._o5iw8:visited {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
}
._66ugs, ._66ugs::before {
    background: #323232;
}
._66ugs {
    border-radius: 4px;
    border: 1px solid #646464;
    margin-bottom: 28px;
    margin-top: -16px;
    position: relative;
}
._bc1a8 {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background: #282828;
    border: 1px solid #646464;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 100%;
}
._7qk7w, ._7qk7w:visited {
    color: #eee;
}
._dv59m {
    background: #323232;
    border: solid 1px #646464;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.0975);
    box-shadow: 0 0 5px rgba(0,0,0,.0975);
    display: block;
    left: 50%;
    margin-left: -121px;
    position: absolute;
    right: -12px;
    top: 18px;
    width: 243px;
    z-index: 9;
}
._gimca {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: solid 1px #646464;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    height: 50px;
    padding: 8px 14px;
}
._dv59m::after {
    border-color: transparent transparent #646464;
    border-style: solid;
    border-width: 0 10px 10px;
    height: 0;
    left: 110px;
    top: -10px;
    width: 0;
    z-index: 3;
}
